.donwload {
    display: flex;
    flex-flow: column;
    margin-top:10px;
}

.buttons{
    display: flex;
    justify-content: center;
    height: 3em;
    margin-top:10px;
}
.setCenter {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.converting {
    display: none;
    text-align: center;
    font-size: 4em;
}
.setCenter button{
    width:40%;
    height:100%;
}

#downloadBtn {
    border: 10px solid gray;
    color : black;
    text-decoration: none;
}